.logoText {
    color: white;
}

.logoAccent {
    color: #EA4492;
    position: relative;
}

.logoAccent::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: radial-gradient(circle, rgba(234, 68, 146, 0.4) 0%, rgba(234, 68, 146, 0) 70%);
    bottom: 0;
    left: 0;
    filter: blur(4px);
}